.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0593B5;
  color: white;
  font-size: 10pt;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .footer-icons {
    .github, .linkedin, .gmail {
      padding: 10px 20px;
    }
    img {
      height: 25px;
      width: 25px;
    }
  }
  
  .resources {
  display: inline;
  font-size: 10pt;
  color: white;
  }
}
