// --------------------
// Definition of variables
$white: rgba(255, 255, 255, 1);
$eerieBlack: rgba(30, 30, 29, 1);
$prussianBlue: rgba(0, 52, 89, 1);
$lightPrussian: rgba(0, 52, 89, 1);
$cerulean: rgba(0, 126, 167, 1);
$vividCerulean: rgba(0, 168, 232, 1);

// COLOR SCHEMA /* RGB */
// $color1: rgba(255, 255, 255, 1); //white
// $color2: rgba(30, 30, 29, 1); //eerie black
// $color3: rgba(0, 52, 89, 1); //prussian blue
// $color4: rgba(0, 126, 167, 1); //cerulean
// $color5: rgba(0, 168, 232, 1); //vivid cerulean
//#050A1A black
//#FBFBFB white
//#017092 bluish
//#16465F darker blue
//#0593B5 lighest blue
//#B3B505 vomit yellow
//#A0A1A2 light gray
//#126BCC sky blue
// ----------------------------------------

.nav-bar{
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  .nav-links {
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .nav-links a{
    color: black;
    text-decoration: none;
    padding: 0 20px;
  }
  .nav-left{
    float: left;
    // padding-top: 20px;
  }
  .nav-left a{
    font-family: Roboto, Arial,sans-serif;
    font-size: 18px;
  }
  .nav-right {
    float: right;
    display: flex;
    flex-direction: row;
    // padding-top: 20px;
  }
  .nav-right a{
    font-family: Roboto, Arial,sans-serif;
    font-size: 18px;
  }
}

